<p>Hi <%=@profilein.username.capitalize%>,</p>

<p>How's it going family. You were approved and can start using the family web app.
You can <%='<a href="http://www.crutefamilyties.com/login">log in</a>'%> using the username and password you signed up with. Be sure to check out our upcoming <%='<a href="http://www.crutefamilyties.com/events">events</a>'%>.</p>

<p>Best Regards,</p>

<p>Darien Cruté</p>