Hi <%=@profilein.username%>,

How's it going family. You were approved and can start using the family web app.
</br>You can log in using the username and password you signed up with. Be sure to check out our upcoming events. <a href="http://familyties.herokuapp.com/login">Login Now</a>
</br>
Best Regards,
</br></br>
Darien Cruté