<h1>Forgot Password</h1>

<form method="POST" action="/password_reset">  
<label for="username">Username</label>  
<input type="text" name="username" required> 
<label for="email">E-mail</label>  
<input type="email" name="email" required>
<br>
<label for="hometown">Hometown</label>  
<input type="text" name="hometown"> 
</br>
<label for="bday">Birthday: Ex. yyyy-mm-dd</label>  
<input type="text" name="bday" patter="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>  
</br>
<input type="submit"></form>

