<h2><%=@current_profile.username.capitalize %>'s Photos</h2>

<form method="POST" action="/add-to-gallery" enctype="multipart/form-data">  
<label for="file">add photo</label>
<input type="file" name="file">
<input type="submit"></form>

<%@user = Profile.find(@current_profile.id).user %>

<% if Picture.where(:user_id => @current_profile.user_id).first%> 
<%pictures = Picture.where(:user_id => @current_profile.user_id)%>
<% pictures.each do |picture| %>
<%="<img id=\"#{picture.id}\"class=\"picture\" src=\"#{picture.avatar.url}\" alt=\"#{picture.id}\" height=\"150px\" onclick=\"startLightbox(this.id)\">&nbsp;"%>
<% end %>
<div id="light" class="white_content"><a class="close" href="javascript:void(0);" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">x</a><img id="setImage" src="" alt="" height="400px"/></br><a id="setLink" href="">delete</a>&nbsp;&nbsp;&nbsp;</div>
        <div id="fade" class="black_overlay"></div>
<% end %>
