<!DOCTYPE html>
<html>
<head>
   <title>Family Ties</title>
   <link rel="shortcut icon" href="favicon.ico"/>
   <link href="Styles/stylesheet.css" rel="stylesheet" type="text/css" />
	<script src=" Scripts/render.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light|Audiowide|Aclonica' rel='stylesheet' type='text/css'>
</head>
<body onload="setActive()">
<div id="container">
	<div id="header"><div id="logo"></div>
    <div id="head_menu" class="menu">
    	<!-- <img src="/images/cruteCrestPlainColorSmall.jpg" alt="Cruté Family Crest" height="100px"> -->
<ul>
<% my_menu = ["\"home\"", "\"login\"", "\"logout\"", "\"sign_up\"", "\"profiles\"", "\"edit_account\"", "\"delete_account\"", "\"admin_screen\""] %>
<% my_descriptions = ["Home", "Login", "Logout", "Sign-up", "Profiles", "Edit Account", "Delete Account", "Admin Dashboard"] %> 
<% count = 0 %> 
<% my_menu.each do |link| %>   

<% if @current_profile && link == "\"login\""%> 
<% elsif !@current_profile && link == "\"logout\""%>
<% elsif !@current_profile && link == "\"profiles\""%> 
<% elsif !@current_profile && link == "\"delete_account\""%>
<% elsif !@current_profile && link == "\"edit_account\""%> 
<% elsif @current_profile && link == "\"sign_up\""%> 
<% elsif !@current_profile && link == "\"admin_screen\""%>
	<%if @current_profile.blank? %>
	<%else%>
		<%if !@current_profile.admin == true%>
			<%="<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
		<%end%>
	<%end%>
<% else %> 
<%= "<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
<% end %>
<% count+=1 %>
<% end %>
</ul>
</div>
</div><!--end header-->
<div id="wrap_login">

<div id="inside_content">
<%=flash[:notice] if flash[:notice] %>
<%= yield %>
</div><!--login_screen-->
</div><!--End wrap-->
</div><!--End container-->

</body>
</html>