<h1>Password Reset</h1>

<p>You have reset you password to the following, </br></br><%=@random_password%></br></br>You can <%='<a href="http://www.crutefamilyties.com/login">log in</a>'%> using your username and new password. Please be sure to change it when you next log in.</p>

<p>Best Regards,</p>

<p>Darien Cruté</p>