<h2><%=@user_profile.username.capitalize %>'s Photos</h2>
<div id="light" class="white_content"><a class="close" href="javascript:void(0);" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">x</a><img id="setImage" src="" height="400px"/></br></div>
        <div id="fade" class="black_overlay"></div>
<a href="/<%="profile?un=#{@user_profile.username}&ui=#{@user_profile.user_id}"%>">Back to Profile</a></br>
<%@user = Profile.find(@user_profile.id).user %>

<% if Picture.where(:user_id => @user_profile.user_id).first%> 
<%pictures = Picture.where(:user_id => @user_profile.user_id)%>
<% pictures.each do |picture| %>
<%="<img id=\"#{picture.id}\"class=\"picture\" src=\"#{picture.avatar.url}\" alt=\"#{@user_profile.username.capitalize}\'s gallery pictures\" height=\"150px\" onclick=\"startLightbox(this.id)\">&nbsp;"%>
<% end %>
</br>
<a href="/<%="profile?un=#{@user_profile.username}&ui=#{@user_profile.user_id}"%>">Back to Profile</a>
<% end %>
