<h1>Sign-up</h1>

<form method="POST" action="/sign-up-process" enctype="multipart/form-data">  
<div class="form">
<div class="label">
<input type="text" name="fname" required autofocus> <label for="fname">First Name</label>   
</div>
<div class="label">
<input type="text" name="lname" required> <label for="lname">Last Name</label>  
</div>
</div>
 
<div class="form">
<div class="label">
<input type="email" name="email" required> <label for="email">E-mail</label>
</div>

<div class="label">
<input type="text" name="hometown"> <label for="hometown">Hometown</label>  
</div>
</div>

<div class="form">
<div class="label">
<select id="month" name="month" required>
<option value="01">January</option>
<option value="02">February</option>
<option value="03">March</option>
<option value="04">April</option>
<option value="05">May</option>
<option value="06">June</option>
<option value="07">July</option>
<option value="08">August</option>
<option value="09">September</option>
<option value="10">October</option>
<option value="11">Novemeber</option>
<option value="12">December</option>
</select> <label for="month">Month</label>
</div>
<div class="label">
<select name="day" id="day" required>
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select> <label for="day">Day</label>
</div>
<div class="label">
<input  type="text" name="year" id="year" required>
<label for="year">Year Ex. YYYY</label>
</div>
</div> 

<div class="form">
<div class="label">
<input type="text" name="username" required>  <label for="username">Username</label>  
</div>
<div class="label">
<input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"required> <label for="password">Password</label> 
</div>
</div>
<div class="form">
<div class="label">
<input type="file" name="file" accept="image/*"> <label for="file">Profile Picture</label>
</div>
</div>
<input type="submit"></form>

<p style="text-align:center;"><a href="/forgot_password">forgot password?</a></p>
