<p>Welcome <%=@signup2.username.capitalize%>,</p>

<p>You signed up for the family web application. You will be approved within the next 3 days and will recieve a follow-up e-mail to let you know. When approved, be sure to check out our upcoming events.</p>

<p>Best Regards,</p>

<p>Darien Cruté</p>